<%- include("header") -%>   
    <div class = "box" id = "heading">
            <h1><%= listTitle %></h1>
    </div>
    
    <div class ="box">
            <%for(let i = 0; i < newItems.length; i++){ %>
                <form action="/delete" method = "POST">
                <div class = "item">
                    <input type="checkbox" name="deleteBox" value = "<%= newItems[i]._id %>" onChange="this.form.submit()">
                    <p> <%= newItems[i].name %></p>
                </div>
                <input type="hidden" name = "listName" value = "<%= listTitle %>">
            </form> 
            <% } %>
        <form action="/" method="POST" class = "item">
            <input type="text" name = "newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name = "list" value = <%= listTitle %>>+</button>
        </form>
    </div>
    <%- include("footer") -%> 